pip install djongo
pip install dnspython
pip install -U textblob
python -m textblob.download_corpora
pip install vaderSentiment
pip install djangorestframework
pip install djangorestframework-simplejwt
pip install fpdf==1.7.2
pip install numpy==1.19.0
pip install opencv-python==4.2.0.34
pip install Pillow==7.1.2
pip install pytesseract==0.3.4
pip install nltk
pip install spacy
python -m spacy download en_core_web_sm
pip install beautifulsoup4==4.9.1
pip install lxml
pip install django-sticky-uploads      
pip install google-cloud-vision 
