{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Textyfi</title>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <!-- <link rel="stylesheet" type="text/css" href="app/bootstrap.min.css"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'app/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'app/main1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    
    <body style="background-color: #c9c5c7">
    
    
    
    <!-- ** Header Area Start ** -->
    <header class="header-area header-sticky" >
        <div class="container" >
            <div class="row" >
                <div class="col-12">
                    <nav class="main-nav" style="background-color:#8261ee">
                        <!-- ** Logo Start ** -->
                       
                        <a href="{% url 'index_view' %}" class="logo" style="color:black; font-size:25px;">
                           TextYfi!
                        
                    </a>
                        <!-- ** Logo End ** -->
                        <!-- ** Menu Start ** -->
                        <ul class="nav" >
                            <li><a href="{% url 'index_view' %}" class="active" style="font-size: 20px;">Home</a></li>
                            <li><a href="#features" style="font-size: 20px;">About</a></li>
                            <li><a href="#work-process" style="font-size: 20px;">Contact</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="#" style="font-size: 20px;">Profile</a></li>
                            <li><a href="{% url 'logout_view' %}" style="font-size: 20px;">Logout</a></li>
                            {% else %}
                              <li><a href="{% url 'login_view' %}" style="font-size: 20px;">LOGIN</a></li>
                              
                              <li><a href="{% url 'register_view' %}" style="font-size: 20px;">SIGN UP</a></li>
                              {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ** Menu End ** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    
    <!-- ** Header Area End ** -->

    <!-- ** Welcome Area Start ** -->
    <div class="welcome-area" id="welcome">

        <!-- ** Header Text Start ** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>We provide the best <strong>service</strong><br>to grow up your <strong>business</strong></h1>
                        
                        <a href="#features" class="main-button-slider">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ** Header Text End ** -->
    </div>
    <!-- ** Welcome Area End ** -->

    <!-- ** Features Small Start ** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ** Features Small Item Start ** -->
                        

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'app/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Word counter</h5>
                               
                            </div>
                        </div>
                        <!-- ** Features Small Item End ** -->

                        <!-- ** Features Small Item Start ** -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'app/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Word Retrieval</h5>
                               
                            </div>
                        </div>
                        <!-- ** Features Small Item End ** -->

                        <!-- ** Features Small Item Start ** -->
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'app/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Review rating</h5>
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'app/featured-item-01.png' %}" alt=""></i>
                                </div>
                                <h5 class="features-title">Text to handwritten</h5>
                                
                            </div>
                        </div>
                        <!-- ** Features Small Item End ** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ** Features Small End ** -->

    <!-- ** Features Big Item Start ** -->
    <a href ="{% url 'wordcounter' %}"><section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'app/landingimage1.png' %}" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 150px;">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Word counter</h2>
                    </div>
                    <div class="left-text">
                        <p>Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam gravida purus non sapien auctor, ut aliquam magna ullamcorper.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    </a>
    <!-- ** Features Big Item End ** -->

    <!-- ** Features Big Item Start ** -->
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" >
                    <div class="left-heading">
                        <h2 class="section-title">Word retrieval</h2>
                    </div>
                    <div class="left-text">
                        <p>Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="{% static 'app/landingimage2.png' %}" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 150px;">
                </div>
            </div>
        </div>
    </section>
    <a href ="{% url 'ratereview' %}"> <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" >
                    <img src="{% static 'app/review.png' %}" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 150px;">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title">Review rating</h2>
                    </div>
                    <div class="left-text">
                        <p>Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam gravida purus non sapien auctor, ut aliquam magna ullamcorper.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    </a>
    <a href ="{% url 'texthandwritten' %}"> <section class="section padding-bottom-100">
    <section class="section padding-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix" >
                    <div class="left-heading">
                        <h2 class="section-title">Text to hand written</h2>
                    </div>
                    <div class="left-text">
                        <p>Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="{% static 'app/landingimage3.png' %}" class="rounded img-fluid d-block mx-auto" alt="App" style="width: 150px;">
                </div>
            </div>
        </div>
    </section>
    </a>
    
    <section class="counter" style="background-color: blueviolet;">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <strong>126</strong>
                            <span>users</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <strong>63</strong>
                            <span>visitors</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="count-item">
                            <strong>27</strong>
                            <span>visitors per year</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ** Counter Parallax End ** -->   

    <!-- ** Blog Start ** -->
   
    <!-- ** Blog End ** -->

    <!-- ** Contact Us Start ** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ** Section Title Start ** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Talk To Us</h2>
                    </div>
                </div>
                <!-- <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div> -->
            </div>
            <!-- ** Section Title End ** -->

            <div class="row">
                <!-- ** Contact Text Start ** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        <p>Textify team</p>
                        <p>You can contact us anytime regarding any queries or the problems you face</p>
                        <!-- <p>You are NOT allowed to re-distribute Softy Pinko template on any template collection websites. Thank you.</p> -->
                    </div>
                </div>
                <!-- ** Contact Text End ** -->

                <!-- ** Contact Form Start ** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ** Contact Form End ** -->
            </div>
        </div>
    </section>
    <!-- ** Contact Us End ** -->
    
    <!-- ** Footer Start ** -->
    <footer class="page-footer font-small blue pt-4" style="background-color: black;">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 style="color:white" class="text-uppercase" >TextYfi!</h5>
              
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">About</a>
                </li>
                <li>
                  <a href="#!">Terms of Use</a>
                </li>
                <li>
                  <a href="#!">Privacy policy</a>
                </li>
                <li>
                  <a href="#!">Contact Us</a>
                </li>
                
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Careers</a>
                </li>
                <li>
                  <a href="#!">Blogs</a>
                </li>
                <li>
                  <a href="#!">Refund policy</a>
                </li>
                <li>
                  <a href="#!">User Guidelines</a>
                </li>
                
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div style="color:white" class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/"> Textyfiteam.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
    
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>