<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RateReview</title>
</head>
<body>
    <form action="{% url 'ratereview' %}" method="POST" enctype='application/json'>
        {% csrf_token %}
        <input type="text" name="review" placeholder="review">
        <button type="submit">Get Rating</button>
    </form>

    {% if rating %}
        Rating = {{ rating }}
    {% endif %}
</body>
</html>